.c-field-box {
  display: flex;
  width: 100%;
  z-index: 999;
  height: 64px;
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
  align-items: center;

  background-color: var(--app-main-form-field-color);
  // box-shadow: 0 0 2px var(--app-main-light-color3);

  &--disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
    border-color: #404750;
  }

  &--with-error {
    border-left: solid 2px #ff4516;
    margin-bottom: 16px;

    .c-field-box__input:focus {
      border-left: 0 !important;
    }
  }

  &__area {
    height: unset;
  }

  &__label {
    position: absolute;
    background: transparent;
    top: 9px;
    z-index: 1000;
    padding: 0 4px;
    margin-left: 5px;

    color: var(--app-main-light-color3);
    font-family: 'Open Sans';
    letter-spacing: 0.25px;
    font-weight: normal;
    font-size: 11px;

    &--disabled {
      color: #F8F9FA60;
    }
  }

  &__input {
    padding: 24px 0 0 10px;
    background: transparent;
    outline: 0 !important;
    border: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    color: var(--app-primary-text-color);
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: left;

    &-text-area {
      padding-top: 10px;
    }
  }

  &__input::placeholder {
    color: #00000055 !important;
  }

  &__input:focus {
    border-left: 3px solid var(--app-main-primary-color);
    border-radius: 2px;
    transition: border-left 0.1s ease;
  }

  &__error-message {
    position: absolute;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    bottom: -18px;
    left: 3px;
    color: #ff4516;
  }
}
