.c-login-area {
  background: #ffffff;
  padding: 48px 30px 99px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: var(--app-primary-color);
    padding-top: 15px;
    font-size: 40px;
    font-weight: bold;
  }
}

.c-login {
  width: 100%;
  padding-top: 40px;

  span {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
  }

  &__form {
    display: flex;
    flex-direction: column;

    span {
      color: #FF0000;
      font-size: 15px;
      padding: 10px 0 0 25px;
    }

    a {
      color: #FFFFFF;
      font-size: 14px;
      margin: 10px 0 20px 0;
      display: flex;
      justify-content: flex-end;
    }

    button {
      width: 100%;
      color: #fff;
      background-color: var(--app-primary-color);
      border: 0px;
      border-radius: 3px;
      height: 35px;
      transition: background-color 0.3s ease;
      cursor: pointer;
      margin: auto;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button:hover {
      background-color: #24326d;
    }
  }
}

:host ::ng-deep .c-field-box {
  border: solid 2px #bccad8 !important;
  // border-radius: 25px !important;
  margin-top: 28px !important;

  &__label{
    color: var(--app-primary-color) !important;
    background: #ffffff !important;
    margin-left: 20px !important;
    font-weight: bold;
  }

  &__input {
    color: #0000009b !important;
    padding: 0 0 0 24px !important;
    border: var(--app-primary-color) !important;
  }
}
