<!-- <div>
  @if(isRedirecting){
    <section class="c-redirecting-area">
      <span>Carregando dados do usuário...</span>
      <mat-progress-spinner diameter=50 mode="indeterminate"></mat-progress-spinner>
    </section>
  }
  @else { -->
  <section class="c-login-area">
    <span>Gestão de Estágio</span>
  
    <section class="c-login">
      <form class="c-login__form" [formGroup]="loginForm">

        <app-input-field
          formControlName="email"
          [label]="'E-mail'"
          [type]="'email'"
          [placeholder]="'Digite seu endereço de e-mail aqui'"
        ></app-input-field>

        <app-input-field
          formControlName="password"
          [label]="'Senha'"
          [type]="'password'"
          [placeholder]="'Digite sua senha aqui'"
        ></app-input-field>

        <span *ngIf="!formDataValid">E-mail ou senha incorretos</span>

      </form>
      <button 
        class="c-login__login-button" 
        [ngClass]="{'c-login__login-button--activated': isLoading || isRedirecting}"
        [disabled]="isLoading || isRedirecting" 
        type="submit"
        (click)="onSubmit()"
      >
        <mat-progress-spinner diameter=20 mode="indeterminate" *ngIf="isLoading || isRedirecting"></mat-progress-spinner>
        <b *ngIf="!isLoading && !isRedirecting">Entrar</b>
      </button>
      
      <a 
        class="c-login__register-button"
        [routerLink]="['../registro']"
      >
        <b>Criar conta</b>
      </a>
    </section>
  </section>
<!-- }
</div> -->
