<div class="page-container">
	<div class="loading-overlay" *ngIf="submitting">
		<mat-spinner diameter="40"></mat-spinner>
	</div>
	<div class="c-vacancies-form">

		<!-- <app-header-title title="Detalhes da Vaga"></app-header-title> -->
		<div class="c-vacancies-form__header">
			<span>Detalhes da vaga</span>
		</div>

		<div class="c-vacancies-form__form" [formGroup]="form">
			<div class="c-vacancies-form__form-column">
				<app-input-field
					class="c-vacancies-form__form-field"
					[label]="'Título'"
					[placeholder]="'Descreva o título da vaga'"
					formControlName="title"
					[control]="form.get('title')"
				></app-input-field>
				<app-input-field
					class="c-vacancies-form__form-field"
					[label]="'Descrição'"
					[placeholder]="'Descreva a vaga...'"
					formControlName="description"
					[textArea]="true"
					[control]="form.get('description')"
				></app-input-field>
				<app-input-field
					class="c-vacancies-form__form-field"
					[label]="'Requisitos'"
					[placeholder]="'Requisitos'"
					formControlName="requirements"
					[textArea]="true"
					[control]="form.get('requirements')"
				></app-input-field>
				<app-input-field
					class="c-vacancies-form__form-field"
					[label]="'Salário'"
					[placeholder]="'R$0,00'"
					[isReal]="true"
					formControlName="salary"
					[control]="form.get('salary')"
				></app-input-field>
				<app-input-field
					class="c-vacancies-form__form-field"
					[label]="'Número de Vagas'"
					[placeholder]="'Número de Vagas'"
					[isNumeric]="true"
					formControlName="numberOfPositions"
					[control]="form.get('numberOfPositions')"
				></app-input-field>
				<!-- <div class="c-vacancies-form__form-row">
				</div> -->
				<app-date-select-field
					class="c-vacancies-form__form-field"
					[label]="'Data limite'"
					[placeholder]="'DD/MM/YYYY'"
					formControlName="applicationDeadline"
					[name]="'applicationDeadline'"
					[control]="form.get('applicationDeadline')"
				></app-date-select-field>
			</div>
		</div>

		<div class="c-vacancies-form__footer">
			<app-action-button
				(click)="submit()"
				[label]="'Salvar Vaga'" 
				[size]="'large'" 
			/>
			<app-action-button
				[label]="'Cancelar'" 
				[size]="'large'"
				[routerLink]="[MODULES['vagas'].route]" 
				[type]="'secondary'"
			/>
		</div>
	</div>
</div>