<mat-toolbar id="app-sidenav" class="expand-test">
  <mat-toolbar-row>
    <div class="c-logo-container">
      <img class="icon" src="/assets/img/sidenav/ufpa-icon.png"/>
      <img class="brand" src="/assets/img/sidenav/ufpa-brand.png"/>
    </div>
    <span class="item-linebox"></span>
    <div
      class="c-module-container"
      [ngClass]="{'c-module-container--active': isActiveModule('dashboard')}"
      (click)="onModuleClick('dashboard', true)"
      [routerLink]="[MODULES['dashboard'].route]"
      >
      <img src="/assets/img/sidenav/user-icon.svg"/>
      <a>{{  MODULES['dashboard'].sidenavTitle }}</a>
    </div>
    @if(userService.getRole() == 'Administrador') {
      <div
        class="c-module-container"
        [ngClass]="{'c-module-container--active': isActiveModule('estagios')}"
        (click)="onModuleClick('estagios', true)"
        [routerLink]="[MODULES['estagios'].route]"
        >
        <img src="/assets/img/sidenav/internships-icon.svg"/>
        <a>{{ MODULES['estagios'].sidenavTitle }}</a>
      </div>
    }
    <div
      class="c-module-container"
      [ngClass]="{'c-module-container--active': isActiveModule('vagas')}"
      (click)="onModuleClick('vagas', true)"
      [routerLink]="[MODULES['vagas'].route]"
      >
      <img src="/assets/img/sidenav/campaign-icon.svg"/>
      <a>{{  MODULES['vagas'].sidenavTitle }}</a>
    </div>
    <!-- Bottom buttons -->
    <!-- <div class="c-modules-tools">
      <div
        class="c-module-container"
        [ngClass]="{'c-module-container--active': isActiveModule('access-control')}"
        (click)="onModuleClick('access-control', true)"
        [routerLink]="[MODULES['access-control'].route]"
      >
        <img src="/assets/img/sidenavNew/settings-icon.svg"/>
        <a>Configurações</a>
      </div> -->
      <!-- Não descomentar -->
      <!-- <div class="c-module-container" (click)="projectInformationDialog()">
        <img src="/assets/img/sidenavNew/about-icon.svg"/>
        <a>Sobre a plataforma</a>
      </div> -->
    <!-- </div> -->
  </mat-toolbar-row>
</mat-toolbar>
