#app-sidenav{
  // background-color: #121926;
  // background-color: #7592c6;
  background-color: var(--app-dark-color);
  color: var(--app-primary-color);
  // border: 1px solid #58616C;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 56px;
  position: absolute;
  z-index: 999;
  box-shadow: 0px 2px 2px 0px #BDD4FF;

  border-radius: 0 16px 16px 0;


}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: left;
}

.c-logo-container{
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 30px;

  .brand {
    display: none;
  }
}

.c-module-container {
  display: flex;
  flex-direction: row;
  position: relative;
  // background: #1A2334;
  // width: 140%;
  width: 40px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  padding: 6px 5px 6px 5px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: all 0.2s ease !important;
  overflow: hidden;

  a {
    visibility: hidden;
    position: absolute;
    // color: #7aa8e1;
    color: var(--app-primary-color);
    font-size: 12px;
    font-weight: bold;
    margin-left: 33px;
  }

  img {
    filter: brightness(0) saturate(100%) invert(55%) sepia(37%) saturate(1175%) hue-rotate(190deg) brightness(90%) contrast(90%);
  }
}

.c-module-container--active {
  // background: none;
  background: #1A2334;
  border-radius: 0 8px 8px 0;
  border-left: 6px solid var(--app-secondary-color);
  pointer-events: none;

  img {
    filter: brightness(0) saturate(100%) invert(81%) sepia(21%) saturate(1166%) hue-rotate(170deg) brightness(102%) contrast(102%);
  }

  a {
    filter: brightness(0) saturate(100%) invert(81%) sepia(21%) saturate(1166%) hue-rotate(170deg) brightness(102%) contrast(102%);
  }
}

.c-module-container--active:hover {
  cursor: pointer;
  opacity: 0.7;
}

.module-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
}

.module-title-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .module-title {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #343a40;
    letter-spacing: .5px;
  }
}

.item-linebox {
  width: 40px;
  border: 1px solid #404653;
  margin: 30px 0;
  transition: all 0.2s ease;
}

.c-modules-tools {
  position: absolute;
  bottom: 0;
  // left: 10px;
  // width: 48%;
  transition: all 0.2s ease;
}

:host ::ng-deep {
  .mat-toolbar-row {
    padding: 0 !important;
    flex-direction: column !important;
    // background-color: var(--app-alternative-background-color) !important;
    // height: 100% !important;
  }
}

.expand-test {
  height: 100vh !important;
  // width: 60px !important;
  width: 3.91% !important;
  padding: 0 16px !important;
  transition: all 0.2s ease !important;

  .icon {
      width: 38px;
    }
}

.expand-test:hover {
  width: 203px !important;
  // padding: 16px !important;

  .c-logo-container {
    margin-top: 30px;

    .icon {
      display: none;
    }

    .brand {
      display: block;
      height: 60px;
      width: 180px;
    }
  }

  .c-module-container {
    justify-content: flex-start;
    width: 163px;

    img {
      margin-left: 6px;
    }

    a {
      visibility: visible;
    }
  }

  .item-linebox {
    width: 183px;
  }

  .c-modules-tools {
    left: 18px;
    width: 65% !important;
  }
}

.c-module-container:hover {
  cursor: pointer;

   img {
    filter: brightness(0) saturate(100%) invert(81%) sepia(21%) saturate(1166%) hue-rotate(170deg) brightness(102%) contrast(102%);
  }

  a {
    filter: brightness(0) saturate(100%) invert(81%) sepia(21%) saturate(1166%) hue-rotate(170deg) brightness(102%) contrast(102%);
  }
}
