<div class="c-internship-dialog">
  <div class="c-internship-dialog__header">
    <span class="c-device-dialog__header-title">
      CADASTRO DE ESTÁGIO
      <!-- <mat-icon svgIcon="info" aria-hidden="false"></mat-icon> -->
    </span>
    <mat-icon svgIcon="close" aria-hidden="false" (click)="closePanel()"></mat-icon>
  </div>
  <div class="c-internship-dialog__divider"></div>
  <div class="c-internship-dialog__content">
    <app-input-field 
      formControlName="workload" 
      [label]="'Carga horparia'" 
      [placeholder]="'30'">
    </app-input-field>
    <app-input-field 
      formControlName="schedule" 
      [label]="'Horário'" 
      [placeholder]="'Tarde...'">
    </app-input-field>
    <app-input-field 
      formControlName="salary" 
      [label]="'Salário'" 
      [placeholder]="'1000'">
    </app-input-field>
    <app-input-field 
      formControlName="supervisor" 
      [label]="'Supervisor'" 
      [placeholder]="'Nome do supervisor...'">
    </app-input-field>

    <!-- Datas -->
    <!-- <app-input-field 
      formControlName="workload" 
      [label]="'Carga horparia'" 
      [placeholder]="'30'">
    </app-input-field>
    <app-input-field 
      formControlName="workload" 
      [label]="'Carga horparia'" 
      [placeholder]="'30'">
    </app-input-field> -->

    <!-- Empresa -->
    <!-- <app-input-field 
      formControlName="workload" 
      [label]="'Carga horparia'" 
      [placeholder]="'30'">
    </app-input-field> -->
  </div>
  <div class="c-internship-dialog__footer">

  </div>
</div>