.c-password-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 718px;

  span {
    color: #59FF88;
    padding-top: 15px;
    font-size: 40px;
    font-weight: bold;
  }
}

.c-password {
  width: 65%;
  padding-top: 40px;

  span {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
  }

  &__form {
    display: flex;
    flex-direction: column;

    span {
      color: #FF0000;
      font-size: 15px;
      padding: 10px 0 0 25px;
    }

    a {
      color: #FFFFFF;
      font-size: 14px;
      margin: 10px 0 20px 0;
      display: flex;
      justify-content: flex-end;
    }

    button {
      width: 30%;
      color: #000000;
      background-color: #59FF88;
      border: 0px;
      border-radius: 25px;
      height: 35px;
      transition: background-color 0.3s ease;
      cursor: pointer;
      margin: 30px auto auto;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button:hover {
      background-color: #31ac54;
    }
  }
}

:host ::ng-deep .c-field-box {
  border: solid 2px #bccad8 !important;
  border-radius: 25px !important;
  margin-top: 35px !important;

  &__label{
    color: #FFFFFF !important;
    background: #0D121D !important;
    margin-left: 20px !important;
  }

  &__input {
    color: #FFFFFF !important;
    padding: 0 0 0 24px !important;
  }
}