<section class="c-password-area">
  <span>Recuperação de Senha</span>
  <section class="c-password">
    <span>Utilize o token enviado para seu e-mail para redefinir sua senha.</span>
    <form class="c-password__form" [formGroup]="recoveryPasswordForm" (ngSubmit)="onSubmit()">
      <app-input-field
          formControlName="token"
          [type]="'token'"
          [label]="'Token'"
          [placeholder]="'Digite o token'"
        ></app-input-field>
        <app-input-field
          formControlName="password"
          [type]="'password'"
          [label]="'Senha'"
          [placeholder]="'Digite sua nova senha'"
        ></app-input-field>
        <app-input-field
          formControlName="passwordconfirm"
          [type]="'password'"
          [label]="'Confirmar Senha'"
          [placeholder]="'Confirme sua nova senha'"
        ></app-input-field>
      <span *ngIf="!passwordsMatch">Senhas não são iguais</span>
      <button [disabled]="isLoading" type="submit">
        <mat-progress-spinner diameter=20 mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
        <b *ngIf="!isLoading">Alterar senha</b>
      </button>
    </form>
  </section>
</section>
