.c-date-container {
  display: flex;
  justify-content: space-between;
}

.c-date-select {
  position: relative;
  min-width: 120px;
  // box-shadow: 0 0 2px var(--app-main-light-color3);

  &__labelStart {
    position: absolute;
    z-index: 99;
    top: -9px;
    left: 5px;
    color: #FFFFFF;
    background: #24314A;
    padding: 0 3px;
    font-size: 12px;
    letter-spacing: -0.08px;
    font-weight: 300;
    cursor: default;
  }

  &__labelEnd {
    position: absolute;
    z-index: 99;
    top: -9px;
    left: 133px;
    color: #FFFFFF;
    background: #24314A;
    padding: 0 3px;
    font-size: 12px;
    letter-spacing: -0.08px;
    font-weight: 300;
    cursor: default;
    width: 53px;
  }

  &__label {
    position: absolute;
    background: transparent;
    top: 10px;
    z-index: 1000;
    padding: 0 3px;
    margin-left: 7px;
    color: var(--app-main-light-color3);
    font-family: inherit;
    letter-spacing: 0.25px;
    font-size: 11px;
    font-weight: normal;

    &--especial {
      background-color: var(--app-primary-color);
      color: #24314A !important;
      border-radius: 4px 4px 4px 0;
      margin-left: 0;
      z-index: 1000;
      font-weight: 600;
    }

    &--disabled {
      opacity: 0.6;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &__form {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  
  &__form-field {
    width: 100%;
    height: 64px;
    background-color: var(--app-main-light-color);

    &--with-error {
      border-left: solid 2px #ff4516 !important;
      margin-bottom: 17px;
      border-radius: 2px;
    }
  }

  &__error-message {
    position: absolute;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    bottom: 0px;
    left: 3px;
    color: #ff4516;
  }
}

:host ::ng-deep {
  .mat-mdc-form-field {
    width: 100%;
  }

  .mdc-text-field {
    height: 64px;
    width: 100%;
    border: 0;
  }

  .mat-mdc-form-field-flex {
    background-color: var(--app-main-form-field-color);
    padding: 24px 0 0 2px;
    height: 100%;
  }
  .mat-mdc-form-field-infix {
    padding-left: 12px;
    height: 100%;

    input {
      height: 100% !important;

      ::placeholder {
        color: #00000055 !important;
        opacity: 1;
      }
    }
  }

  .mat-datepicker-popup {
    background-color: #fff !important;
  }

  .mdc-line-ripple {
    display: none !important;
  }

  .mat-mdc-form-field-bottom-align {
    display: none !important;
  }
}
