.loading-overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 1000;
}

.user-container {
	display: flex;
	flex-direction: column;
	// padding: 12px;

	.header, .info-section {
		background-color: #FFFFFF;
	}

	.header {
		position: relative;
		padding: 16px 24px;
		border: 1px solid var(--app-main-light-color2);
		border-radius: 12px 12px 0px 0px;

		.title {
			font-weight: 600;
			color: var(--app-header-line);
		}

		.alert {
			position: absolute;
			bottom: 4px;
			right: 4px;

			display: flex;
			align-items: center;
			color: #e2800f;
			font-size: 12px;
			font-style: italic;
			gap: 6px;

			mat-icon {
				height: 16px;
				width: 16px;
			}
		}
	}

	.info-section {
		margin-bottom: 22px;

		display: flex;
		flex-direction: column;
		border-radius: 0 0 12px 12px;

		
		.field.last {	
			border-radius: 0 0 12px 12px;
		}

		.field {
			border: 1px solid var(--app-main-light-color2);
			border-top: 0;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 12px;
			padding: 16px 24px;


			label {
				font-family: "Inter", sans-serif !important;
				font-weight: thin;
				font-size: 14px;
				letter-spacing: 1px;
				color: #585858;
				// margin-bottom: 12px;
			}

			div {
				// font-family: "Inter", sans-serif !important;
				font-weight: normal;
				font-size: 14px;
				letter-spacing: 1px;
				color: black;
			}
		}
	}

	.info-section.skill-list {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		gap: 10px;
		width: 33%;

		.skill-item {
			width: fit-content;
			background-color: transparent;
			padding: 8px 12px;
			border-radius: 50px;
			border: 1px solid var(--app-dark-color);
			color: var(--app-dark-color);
			font-style: italic;

			display: flex;
			align-items: center;
			gap: 4px;

			mat-icon {
				display: none;
				padding-left: 8px;
				height: 16px;
				width: 16px;
				color: red;
				background-color: transparent;
				border-radius: 50px;
			}
		}

		.skill-item:hover mat-icon {
			display: block;
		}

		.skill-item mat-icon:hover {
			cursor: pointer;
			color: orange;
		}

		.skill-item:hover {
			background-color: var(--app-dark-color);
			color: white;
			cursor: pointer;
			transition: all 0.1s ease;
		}
	}

	.action-button {
		width: 210px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px 12px;
		background: var(--app-dark-color);
		border-radius: 3px;
		color: #ffffff;
		font-size: 14px;
		// margin: 0 auto;
		margin-bottom: 16px;
		margin-top:10px;
		gap: 8px;


		mat-icon {
			height: 16px;
			width: 16px;
		}

		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
	}

	.actions {
		display: flex;
		gap: 12px;
	}
}

span.no-course,
div.no-course {
	opacity: 0.5;
	pointer-events: none;
	
}

span.no-course:hover,
div.no-course:hover {
	cursor: not-allowed;
}