<div class="c-actions-menu">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="c-actions-menu__trigger">
    <mat-icon svgIcon="ellipsis"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item class="c-actions-menu__item"
      (click)="openInternshipDialog()"
    >
      <div class="c-actions-menu__item-content">
        <mat-icon svgIcon="eye"></mat-icon>
        <span>Visualizar</span>
      </div>
    </button>
    <button
      mat-menu-item class="c-actions-menu__item"
    >
      <div class="c-actions-menu__item-content">
        <mat-icon svgIcon="circle-check"></mat-icon>
        <span>Deferir</span>
      </div>
    </button>
    <button
      mat-menu-item class="c-actions-menu__item"
    >
      <div class="c-actions-menu__item-content">
        <mat-icon svgIcon="close"></mat-icon>
        <span>Recusar</span>
      </div>
    </button>
  </mat-menu>
</div>
