<div class="header" *ngIf="appModule">
  <!-- <span>{{ appModule.title }}</span> -->
  <div class="logo-container">
      <img class="icon" src="/assets/img/sidenav/ufpa-icon.png"/>
      <span class="title">Gestão <br> de Estágio</span>
      <!-- <img class="brand" src="/assets/img/sidenav/ufpa-brand.png"/> -->
  </div>
  <mat-progress-spinner diameter=30 mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>

  <section class="user">
    <!-- <a 
      class="user__name"
      [matMenuTriggerFor]="menu"
    >
      {{ userName() }}
    </a> -->
    <ngx-avatars
      class="user__avatar"
      [name]="userName()"
      (click)="goToProfile()"
      size="40"
    ></ngx-avatars>
    <span class="user__trigger" [matMenuTriggerFor]="menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </span>
    <mat-menu #menu="matMenu">
      <button  mat-menu-item>
        <mat-icon style="color: var(--app-primary-color);">person</mat-icon>
        <span class="menu-item">Perfil</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon style="color: var(--app-primary-color);">exit_to_app</mat-icon>
        <span class="menu-item">Sair</span>
      </button>
    </mat-menu>
  </section>
</div>
