:host {
  background: var(--app-dark-color);
  width: 100%;
  display: flex;
}

.header {
  position: absolute;
  z-index: 1000;
  height: 72px;
  width: 100%;
  background-color: var(--app-main-primary-color);
  color: var(--app-primary-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 12px;

    .icon {
      width: 30px;
    }

    .title {
      font-family: 'Merriweather', serif;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.32px;
    }

    .brand {
      height: 16px;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__name {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    padding-right: 16px;
  }

  &__trigger {
    border: 1px solid transparent;
  }

  &__trigger:hover {
    cursor: pointer;
    color: var(--app-primary-color);
    background-color: #17182f38;
    border: 1px solid var(--app-primary-color);
  }

  &__avatar {
    cursor: pointer;
    border: 1px solid var(--app-main-special-color);
    border-radius: 100%;
    padding: 8px;
    margin-right: 12px;
    color: var(--app-main-special-color);
    
    &:hover {
      border: 1px solid transparent;
      background-color: #FFFFFF;
      color: var(--app-main-primary-color);
      transition: all 0.1s ease-in-out;
    }

    &:active {
      border: 1px solid transparent;
      background-color: var(--app-main-special-color);
      color: #FFFFFF;
    }
  }

}
