::ng-deep .mat-mdc-menu-panel {
  background-color: #121926 !important;
}

.c-actions-menu {

  &__item {
    font-family: "Inter", sans-serif !important;
    font-size: 14px;
    color: var(--app-dark-color);
  }

  &__item:hover {
    background-color: var(--app-dark-color);
    color: var(--app-negative-text-color);
  }

  &__item--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__item--disabled:hover {
    cursor: not-allowed;
  }

  &__item-content {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }

    span {
      color: #fff;
    }
  }

  &__divider {
    height: 1px;
    background-color: #5D6A83;
    margin: 12px 22px;
  }

}


// :host ::ng-deep {
//   .mat-mdc-icon-button svg {
//     width: 18px !important;
//     height: 18px !important;
//   }
// }
