:root {
  --app-primary-color: #53bdff;
  --app-secondary-color: #7592c6;
  --app-dark-color: #2640a7;
  // --app-dark-color: #4058b9;
  --app-light-color: #fefefe;
  --app-header-text-color: #2c2f32;
  --app-primary-text-color: #484d51;
  --app-negative-text-color: #ffffff;
  // --app-label-bg-color: #ffffff;

  --app-header-line: #363d57;
  --app-primary-light-color: #A8E6B8;
  --app-primary-dark-color: #3B7A5A;
  --app-primary-dark-variant-color: #2A5B43;
  --app-secondary-light-color: #E3F2E5;
  // --app-secondary-color: #004C3D;
  --app-secondary-dark-color: #003026;
  --app-neutral-color: #6C757D;
  --app-neutral-light-color: #CED4DA;
  --app-neutral-light-variant-color: #F8F9FA;
  --app-neutral-dark-color: #495057;
  --app-alternative-background-color: #FAFAFA;

  --app-blue-dark-color: #1A2334;
  --app-blue-darkest-color: #0D121D;
  --app-blue-alternative-dark-color: #121926;
  --app-blue-dark-light-color: #24314A;



  --app-danger-color: #dc3545;
}
