<div class="page-container">
  <div class="c-internship-form">
    <div class="loading-overlay" *ngIf="submitting">
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <app-header-title title="Informações do Estágio"></app-header-title>

    <div class="c-internship-form__form" [formGroup]="internshipForm">
      <div class="c-internship-form__form-row">
        <app-input-field 
          class="c-internship-form__form-field"
          [label]="'Carga horária'" 
          [placeholder]="'30'"
          [isNumeric]="true"
          formControlName="workload" 
          [control]="internshipForm.get('workload')"
        ></app-input-field>
        <app-select-field 
          class="c-internship-form__form-field"
          [options]="schedules"
          [label]="'Horário'" 
          [placeholder]="'Tarde...'"
          [useValueOptionKeyAsLabel]="true"
          formControlName="schedule"
          [control]="internshipForm.get('schedule')"
        ></app-select-field>
      </div>

      <div class="c-internship-form__form-row">
        <app-input-field 
          class="c-internship-form__form-field"
          [label]="'Supervisor'" 
          [placeholder]="'Nome do supervisor...'"
          formControlName="supervisor" 
          [control]="internshipForm.get('supervisor')">
        ></app-input-field>
        <app-input-field
          class="c-internship-form__form-field"
          [label]="'Salário'" 
          [placeholder]="'R$ 1.000,00'"
          [isReal]="true"
          formControlName="salary" 
          [control]="internshipForm.get('salary')"
        ></app-input-field>
      </div>
      <div class="c-internship-form__form-row">
        <div class="date-container">
          <app-date-select-field
            class="c-internship-form__form-field"
            class="c-vacancies-form__form-date-field"
            [label]="'Data Início'"
            [placeholder]="'DD/MM/YYYY'"
            [name]="'startDate'"
            formControlName="startDate"
            [control]="internshipForm.get('startDate')"
          ></app-date-select-field>
          <app-date-select-field
            class="c-internship-form__form-field"
            class="c-vacancies-form__form-date-field"
            [label]="'Data Fim'"
            [placeholder]="'DD/MM/YYYY'"
            [name]="'endDate'"
            formControlName="endDate"
            [control]="internshipForm.get('endDate')"
          ></app-date-select-field>
        </div>
      </div>
    </div>

    <app-header-title title="Informações da Empresa"></app-header-title>

    <div class="c-internship-form__company">
      <div [formGroup]="companySelectForm">
        <app-select-field
          class="c-internship-form__form-field"
          [label]="'Empresa'"
          [placeholder]="'Selecione a empresa'"
          [options]="companies"
          [useValueOptionKeyAsLabel]="true"
          (valueChange)="onChangeCompany($event)"
          [disabled]="newCompany"
          [formControlName]="'company'"
          [control]="companySelectForm.get('company')"
        ></app-select-field>
      </div>

      <span class="new-company-checkbox">
        <mat-checkbox
          (change)="updateCheckNewCompany($event.checked)"
          >
          Cadastrar nova empresa
        </mat-checkbox>
      </span>

      @if(newCompany) {
        <div class="c-internship-form__form" [formGroup]="companyForm">
          <app-input-field
            class="c-internship-form__form-field"
            [label]="'Nome da Empresa'"
            [placeholder]="'Nome da empresa'"
            formControlName="name"
            [control]="companyForm.get('name')"
          ></app-input-field>
          <app-input-field
            class="c-internship-form__form-field"
            [label]="'Endereço'"
            [placeholder]="'Endereço completo'"
            formControlName="address"
            [control]="companyForm.get('address')"
          ></app-input-field>
          <app-input-field
            class="c-internship-form__form-field"
            [label]="'CNPJ'"
            [placeholder]="'00.000.000/0000-00'"
            formControlName="cnpj"
            [control]="companyForm.get('cnpj')"
          ></app-input-field>
          <app-input-field
            class="c-internship-form__form-field"
            [label]="'Email'"
            [placeholder]="'email@empresa.com'"
            formControlName="email"
            [control]="companyForm.get('email')"
          ></app-input-field>
          <app-input-field
            class="c-internship-form__form-field"
            [label]="'Telefone'"
            [placeholder]="'(99) 99999-9999'"
            [isPhoneNumber]="true"
            formControlName="phone"
            [control]="companyForm.get('phone')"
          ></app-input-field>
        </div>
      }
      
    </div>
    <div class="c-internship-form__footer">
      <app-action-button
        (click)="submit()"
        [label]="'Salvar Estágio'" 
        [size]="'large'" 
      />
      <app-action-button
        [label]="'Cancelar'"
        [size]="'large'"
        [routerLink]="[MODULES['dashboard'].route]" 
        [type]="'secondary'"
      />
    </div>
  </div>
</div>

